<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.nodeleaf {
  cursor: pointer;
  fill: white;
  
}

.node--leaf {
  fill: white;
}

.label {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 120;
  letter-spacing: 3px;
  text-anchor: middle;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
  /*text-shadow: 5px 5px 0px #eee, 7px 7px 0px #707070;*/
  color:#fff;
/*use two shadows, the first the same colour as the text, the second a darker colour (in this case white and yellow). Both have no x or y offset, the blur you apply to the shadow will determine how big the glow effect is*/
text-shadow:0 0 30px #fff, 0 0 70px #0000ee;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

#sentences {
  font: 16px "Calibri", Helvetica, Arial, sans-serif;
  color: #FFF;
}

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<div id="container">
<div id="svg_container" style="float:left:width:50%" />
<div style="float:right;width:48%">
  <h1 style="font-size : 48px; color:white">Text Analytics D3 Viz for User Voice Data </h1> 
  <div style="font-size : 20px"id="sentences">Click on the circles to view sentences</div>
</div>
</div>
<script>
var margin = 20,
    diameter = 950;

var color2 = d3.scale.linear()
    .domain([-1, 5])
    // .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
    .range(["hsl(210, 100%, 56%)", "hsl(90, 100%, 50%)"])
    //.range(["hsl(180, 100%, 47%)", "hsl(0, 100%, 59%)"])
    .interpolate(d3.interpolateHcl);

var color = function(d) {
  switch(d) {
    case -1:
      return "#0066cc";
    case 0:
      return "#0080ff";
    case 1:
      return "#66b2ff";
    case 2:
      return "#c0c010";
    case 3:
      return "#0000ff";
    case 4:
      return "#00ff00";
    case 5:
      return "#ff0000";
    default:
      return "#ffffff";
  }
}

var pack = d3.layout.pack()
    .padding(2)
    .size([diameter - margin, diameter - margin])
    .value(function(d) { return d.sentences.length; }) // return d.size;

var svg = d3.select("#svg_container").append("svg")
    .attr("width", "50%")
    //.attr("width", "70%")
    .attr("height", diameter)
//var svg = d3.select("svg")
  .append("g")
    .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");


d3.json("static/uservoice4.json", function(error, root) {
  if (error) return console.error(error);

  var focus = root,
      nodes = pack.nodes(root),
      view;

  var force = d3.layout.force()
  .on("tick", tick)
  .size([diameter - margin, diameter - margin]);

  var circle = svg.selectAll("circle")
      .data(nodes)
    .enter().append("circle")
      .attr("class", function(d) { return d.parent ? d.children ? "node" : "nodeleaf" : "node node--root"; })
      .style("fill", function(d) { return d.children ? color(d.depth) : null; })
      .attr("cx", function(d) {return d.x;})
      .attr("cy", function(d) {return d.y;})
      .call(force.drag)
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  var leaf_circle = svg.selectAll("circle.nodeleaf")
    .call(force.drag)
    .on("click", function(d) {zoom(d.parent);display_sentences(d);d3.event.stopPropagation();});

  var text = svg.selectAll("text")
      .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      .style("display", function(d) { return d.parent === root ? null : "none"; })
      .text(function(d) { return d.name; });

  var node = svg.selectAll("circle,text");
  

  force.nodes(circle).start();

  d3.select("body")
      .style("background", color(-1))
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);
  
  function display_sentences(d) {
    var sentences_div = document.getElementById("sentences");
    //console.log(d);
    s = "<ol>";
    for (sentence in d.sentences) {
      s += "<li><p><span>" + d.sentences[sentence] + "</span></p></li>"
    }
    s += "</ol>";
    sentences_div.innerHTML = s;    
    window.scrollTo(0,0);
  }

  function zoom(d) {
    document.getElementById("sentences").innerHTML = "";
    var focus0 = focus; focus = d;

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }

  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
  }

  function tick() {
  circle
  .each(collide(0.5))
  .attr("cx", function(d) {return d.x;})
  .attr("cy", function(d) {return d.y;});
}

var padding = 6;

// Resolve collisions between nodes.
function collide(alpha) {
    var quadtree = d3.geom.quadtree(nodes);
    return function (d) {
        var r = d.r + padding,
            nx1 = d.x - r,
            nx2 = d.x + r,
            ny1 = d.y - r,
            ny2 = d.y + r;
        quadtree.visit(function (quad, x1, y1, x2, y2) {
            if (quad.point && (quad.point !== d)) {
                var x = d.x - quad.point.x,
                    y = d.y - quad.point.y,
                    l = Math.sqrt(x * x + y * y),
                    r = d.r + quad.point.radius + (d.color !== quad.point.color) * padding;
                if (l < r) {
                    l = (l - r) / l * alpha;
                    d.x -= x *= l;
                    d.y -= y *= l;
                    quad.point.x += x;
                    quad.point.y += y;
                }
            }
            return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
        });
    };
}

});

d3.select(self.frameElement).style("height", diameter + "px");

</script>


